#circle{
	width:60px;
	height:60px;
	background-color:red;
	/*
	border-bottom:60px solid green;
	border-left:60px solid purple ;
	border-right:60px solid yellow  ;
	
	border-top:60px solid blue ;
	*/
	border-radius:180px;
	
}
#sq{
	width:0px;
	height:0px;
	background-color:blue;
	border-bottom:50px solid transparent;
	border-left:50px solid transparent ;
	border-right:50px solid transparent  ;
	border-top:50px solid transparent ;
}

#tri{
	width:0px;
	height:0px;
	
	border-bottom:60px solid green;
	border-left:60px solid transparent ;
	border-right:60px solid transparent  ;
	
}
body{
	background-color:#B831C8;
	border:20px double salmon;
	text-align:center;
	margin: auto;
    width: 50%;
    padding: 10px;
}

div{
	margin:auto;
}

